/* ISSUE: inner border getting cut by div fixed by modfying div border radius*/

:root {
    --spacing: 20px;
    --inner-border-color: gold;
}

* {
    font-family: 'JetBrains Mono';
    font-size: 22px;
}

.flex-container {
    background-color: black;
    overflow: hidden;
    
    max-height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: var(--spacing, 10px);
    
    padding: var(--spacing, 10px);

    border: 8px solid goldenrod;
    border-radius: 8px;
}

.flex-item {
    flex: 1 calc(25% - var(--spacing, 10px)); 
}

.numpad {
    color: aliceblue;
    cursor: pointer;

    height: calc(16.67vh - var(--spacing));
    width: 100%;
    padding: auto;

    font-size: 48px;

    border: 2px solid var(--inner-border-color);
    border-radius: 8px;

    transition: transform 0.3s; /* Add a transition for a smooth effect */
}

.numpad:hover {
    transform: scale(1.1); /* Increase the size by 20% */
}

.numpad:active {
    transform: scale(0.9);
}

.numpad.op {
    background-color: black;
}

.numpad.op:hover {
    background-color: #333333;
}

.numpad.num {
    background-color:  goldenrod;
}

.numpad.num:hover {
    background-color: #AD9108;
}

.numpad:disabled {
    background-color: #444;
    border-color: red;
    color: red;
    cursor: not-allowed;
    animation-play-state: paused;
}

.numpad:disabled:hover {
    background-color: #444;
    border-color: red;
    color: red;
}

#ac {
    background-color: maroon;
}

#ac:hover {
    background-color: red;;
}

#del {
    background-color: maroon;
}

#del:hover {
    background-color: red;
}

#eq {
    background-color: white;
    color: goldenrod;
}

#eq:hover {
    background-color: #ddd;
}

#del {
    min-height: 100%;
}

#lcd {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    
    height: calc(16.67vh - var(--spacing));
    width: 100%;

    box-sizing: border-box;
    border: 2px solid var(--inner-border-color);
    border-radius: 8px;
}

#lcd > textarea {
    resize: none; /* Prevent resizing of the textarea */
    overflow: hidden;
}

#prev-result {
    background-color: lightgray;
    padding: 5px;
    margin: 0;

    text-align: right;

    border-radius: 6px 6px 0 0;
}

#output {
    background-color: aliceblue;
    
    width: 100%;
    padding: auto;
    margin: 0;

    font-size: 48px;
    text-align: right;

    box-sizing: border-box;  /* Makes width include border and padding */
    border: none;
    border-radius: 0 0 6px 6px;
}