* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    margin: 0 auto;
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item {
    padding: 5px;
    text-align: center;
    border: 1px solid black;

    flex: 1 0 30%;
}

.flex-item #ten {
    background: gold;
}